.newsLine {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 40px;
}

.redBlock {
    width: 36px;
    height: 36px;
    background-color: #cf3e3e;
}

.greenLine {
    width: 74%;
    height: 36px;
    background-color: #9dce4e;
    margin-left: 10px;
}

.newsLine span {
    color: #cf3e3e;
    font-size: 38px;
    margin-left: 10px;
}

@media (max-width: 1514px) {
    .greenLine {
        height: 26px;
    }
    .redBlock {
        height: 26px;
        width: 26px;

    }

    .newsLine span {
        font-size: 26px;
    }
}

@media (max-width: 1102px) {
    .greenLine {
        height: 22px;
    }
    .redBlock {
        height: 22px;
        width: 22px;
    }

    .newsLine span {
        font-size: 20px;
    }
}